@charset "UTF-8";
/*!
 * Golabi Admin - Responsive Bootstrap Template
 *
 * Copyright 2015 yeptemplate.com
 * Customize Vendors CSS
 */
/*
 * dropzone css
 */
.dropzone a.dz-remove, .dropzone-previews a.dz-remove {
  border: none;
  border-radius: 0;
  color: #FFF;
  background: #D15B47;
  cursor: pointer; }

.dropzone a.dz-remove:hover, .dropzone-previews a.dz-remove:hover {
  color: #FFF;
  background: #B74635; }

.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
  font-size: 30px; }

/* Add this style in dropzone v4.2*/
.dropzone .upload-icon {
  font-size: 88px !important;
  color: grey; }

.dropzone {
  border: 1px solid #ddd;
  background: #F5F5F5;
  border-radius: 0px; }

.dropzone .dz-preview .dz-image {
  border-radius: 0px; }

.dropzone .dz-preview .dz-details .dz-filename span, .dropzone .dz-preview .dz-details .dz-size span {
  border-radius: 0px; }

.dropzone .dz-preview.dz-image-preview {
  background: transparent; }

.dropzone .dz-preview .dz-error-message {
  border-radius: 0px;
  top: 140px; }

.dropzone .dz-preview .dz-progress {
  border-radius: 0px;
  height: 5px; }

.dropzone .dz-preview.dz-file-preview .dz-image {
  border-radius: 0;
  padding-top: 8px; }
  .dropzone .dz-preview.dz-file-preview .dz-image:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f016";
    font-size: 100px;
    padding: 18px;
    opacity: 0.05; }

.dropzone.dz-gmail {
  background: transparent;
  min-height: 35px;
  height: 35px;
  width: 50%;
  padding: 0;
  border: none; }
  .dropzone.dz-gmail.hover {
    background: #e3e3e3; }
  .dropzone.dz-gmail .dz-message {
    margin: 0; }
  .dropzone.dz-gmail .dz-preview {
    min-height: 20px;
    margin: 5px;
    display: block; }
  .dropzone.dz-gmail .dz-preview .dz-image {
    height: 22px;
    width: 190px; }
  .dropzone.dz-gmail .dz-preview .dz-remove {
    display: inherit;
    cursor: pointer;
    top: 0px;
    position: absolute;
    z-index: 1000;
    padding-right: 5px;
    padding-left: 5px;
    line-height: 20px; }
  .dropzone.dz-gmail .dz-preview .dz-details {
    padding: 0;
    min-width: 135%;
    top: 2px;
    display: table; }
  .dropzone.dz-gmail .dz-preview .dz-details .dz-filename {
    width: 90px; }
  .dropzone.dz-gmail .dz-preview .dz-details .dz-size {
    display: table-cell;
    font-size: 12px; }
  .dropzone.dz-gmail .dz-preview .dz-details {
    left: 15px; }
  .dropzone.dz-gmail .dz-preview .dz-details .dz-filename:hover span {
    border: 0;
    background-color: transparent; }
  .dropzone.dz-gmail .dz-preview .dz-details .dz-filename {
    overflow: hidden;
    text-overflow: ellipsis; }
  .dropzone.dz-gmail .dz-preview .dz-progress {
    position: initial;
    margin-top: 0;
    width: 190px;
    margin-left: 0; }
  .dropzone.dz-gmail .dz-preview .dz-success-mark, .dropzone.dz-gmail .dropzone .dz-preview .dz-error-mark {
    top: 23px;
    left: 190px; }
  .dropzone.dz-gmail .dz-preview .dz-error-mark, .dropzone.dz-gmail .dz-preview .dz-success-mark {
    width: 20px;
    height: 20px; }
  .dropzone.dz-gmail .dz-preview.dz-file-preview .dz-image {
    background: #F5F5F5;
    border: 1px solid #DDD; }
  .dropzone.dz-gmail .dz-preview.dz-file-preview .dz-image:before {
    content: ''; }
  .dropzone.dz-gmail .dz-preview .dz-success-mark, .dropzone.dz-gmail .dz-preview .dz-error-mark {
    top: 23px;
    left: 190px; }
  .dropzone.dz-gmail a.dz-remove, .dropzone.dz-gmail .dropzone-previews a.dz-remove {
    color: #000;
    background: transparent;
    font-weight: bold;
    border: 1px solid #DDD; }
  .dropzone.dz-gmail .dz-preview .dz-success-mark svg, .dropzone.dz-gmail .dz-preview .dz-error-mark svg {
    width: 20px;
    height: 20px; }
  .dropzone.dz-gmail .dz-preview .dz-details .dz-size {
    direction: ltr; }
  .dropzone.dz-gmail .dz-preview .dz-error-message {
    top: 22px;
    left: 0px;
    width: 190px;
    line-height: 20px; }

.dz-single {
  padding: 0;
  width: 121px;
  min-height: 120px; }
  .dz-single .dz-preview.dz-image-preview {
    margin: 0; }
  .dz-single .dz-default.dz-message {
    font-size: 12px; }
  .dz-single .dz-preview {
    margin: 0; }

.rtl .dz-hidden-input {
  left: auto !important; }
.rtl .dz-preview .dz-details {
  right: 15px;
  left: auto; }
.rtl .dz-preview .dz-success-mark, .rtl .dz-preview .dz-error-mark {
  right: 190px;
  left: auto; }
.rtl .dz-preview .dz-success-mark, .rtl .dropzone .dz-preview .dz-error-mark {
  right: 168px;
  left: auto; }
.rtl .dz-preview .dz-error-message {
  right: 0;
  left: auto; }

/*
 * FullCalender Style
 */
#external-events {
  float: left;
  width: 100%;
  padding: 0 10px;
  text-align: left; }

#external-events h4 {
  font-size: 16px;
  margin-top: 0;
  padding-top: 1em; }

#external-events .fc-event {
  margin: 10px 0;
  cursor: pointer; }

#external-events p {
  margin: 1.5em 0;
  font-size: 11px; }

#external-events p input {
  margin: 0;
  vertical-align: middle; }

#calendar {
  float: right;
  width: 100%; }

.fc-event {
  border-radius: 0;
  background-color: #03A9F4; }

.fc-state-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 0px 0px;
  border-width: 1px;
  border-radius: 0px;
  text-shadow: 0 0 1px #bbbbbb;
  outline: none;
  background-image: none; }
  .fc-state-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad; }

.fc-state-active, .fc-state-down {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad; }

.rtl .fc {
  direction: rtl;
  text-align: right; }
.rtl #external-events {
  text-align: right; }

/*
 *  Yep Mailbox Style
 */
.email-panel li {
  list-style: none; }
.email-panel a {
  text-decoration: none; }
.email-panel .square-icon {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 28px;
  border: 1px solid #696969;
  font-size: 14px;
  cursor: pointer;
  display: block;
  float: left; }

.email-sidebar {
  height: 757px;
  background: #1d2127;
  transition-duration: .3s;
  z-index: 5;
  overflow: hidden; }
  .email-sidebar .logo-container {
    font-weight: 100;
    font-size: 50px;
    line-height: 40px;
    text-align: center;
    margin: 50px 0;
    cursor: pointer;
    color: #ddd; }
    .email-sidebar .logo-container .logo {
      position: relative;
      top: -6px;
      font-size: 25px;
      margin-right: 15px;
      padding: 10px;
      border: 2px solid #fff;
      text-indent: 1px;
      color: #fff; }
  .email-sidebar .compose-btn {
    text-transform: uppercase;
    margin-bottom: 15px; }
  .email-sidebar .menu-segment ul {
    margin: 0;
    padding: 0; }
    .email-sidebar .menu-segment ul li {
      padding: 0 50px 0 70px;
      margin: 0;
      padding: 0;
      list-style: none; }
      .email-sidebar .menu-segment ul li a {
        display: block;
        margin: 0 -50px 0 -70px;
        padding: 10px 50px 10px 50%;
        color: #ddd;
        text-decoration: none; }
    .email-sidebar .menu-segment ul li.active, .email-sidebar .menu-segment ul li:hover {
      background: #282d36; }
    .email-sidebar .menu-segment ul li.title {
      text-transform: uppercase;
      font-weight: 600;
      padding: 10px 0;
      color: #465162;
      display: block;
      margin: 0 -50px 0 -70px;
      padding: 10px 50px 10px 50%; }
  .email-sidebar .separator {
    margin: 8px 35px;
    height: 1px;
    background: #2D3138; }

.email-list header {
  border-bottom: 1px solid #efefef;
  overflow: hidden; }
  .email-list header .search-box {
    float: right;
    width: 150px;
    height: 40px;
    position: relative;
    margin-top: 12px; }
    .email-list header .search-box input {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%; }
      .email-list header .search-box input:focus {
        width: 150%; }
    .email-list header .search-box .icon {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 40px;
      text-align: center;
      line-height: 35px;
      z-index: 1;
      cursor: pointer;
      opacity: .5; }
  .email-list header .page-title {
    display: block; }
    .email-list header .page-title .icon {
      font-size: 15px;
      margin-left: 20px;
      position: relative;
      top: -5px;
      cursor: pointer; }
.email-list .action-bar {
  padding: 20px 0px;
  border-bottom: 1px solid #efefef;
  overflow: hidden; }
  .email-list .action-bar li {
    float: left;
    margin-right: 10px; }
.email-list .content {
  height: 600px;
  overflow: hidden;
  overflow-y: scroll; }
  .email-list .content .unread {
    font-weight: 600;
    color: #555; }
  .email-list .content .load-more-link {
    display: block;
    text-align: center; }

.email-message .page-title {
  display: block; }
  .email-message .page-title .icon {
    font-size: 15px;
    position: relative;
    top: 3px;
    margin-right: 11px;
    cursor: pointer; }
.email-message .message-container {
  padding: 0 30px;
  height: 652px;
  overflow: hidden;
  overflow-y: scroll; }
  .email-message .message-container li {
    padding: 15px;
    margin: 0 0 10px 0;
    position: relative; }
    .email-message .message-container li .details {
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      margin-bottom: 10px;
      overflow: hidden; }
      .email-message .message-container li .details .right {
        float: right;
        color: #999; }
      .email-message .message-container li .details .left {
        float: left;
        font-weight: 600;
        color: #888888;
        transition-duration: .3s; }
    .email-message .message-container li .message {
      margin-bottom: 40px; }
    .email-message .message-container li .tool-box {
      position: absolute;
      bottom: 0;
      right: 0;
      border: 0px solid #DDDFE1;
      border-top-width: 1px;
      border-left-width: 1px;
      padding: 8px 10px;
      transition-duration: .3s; }

.email-compose header {
  border-bottom: 1px solid #efefef;
  overflow: hidden; }
  .email-compose header .action-compose {
    float: right;
    width: 160px;
    height: 40px;
    position: relative;
    margin-top: 12px; }
    .email-compose header .action-compose input {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      text-indent: 15px;
      outline: none;
      border: 1px solid #BFBFBF; }
    .email-compose header .action-compose .icon {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 40px;
      text-align: center;
      line-height: 40px;
      z-index: 1;
      cursor: pointer;
      opacity: .5; }
  .email-compose header .page-title {
    display: block; }
    .email-compose header .page-title .icon {
      font-size: 15px;
      position: relative;
      top: 3px;
      margin-right: 11px;
      cursor: pointer; }
.email-compose .action-bar {
  padding: 20px 60px;
  border-bottom: 1px solid #efefef;
  overflow: hidden; }
  .email-compose .action-bar li {
    float: left;
    margin-right: 10px; }
.email-compose .footer {
  border-top: 1px solid #ddd;
  padding-top: 15px;
  padding-bottom: 15px; }

.rtl .email-list header .search-box input {
  left: 0;
  right: auto; }
.rtl .email-list header .search-box {
  float: left; }
.rtl .email-list header .search-box .icon {
  left: 0;
  right: auto; }
.rtl .email-panel .square-icon {
  float: right; }
.rtl .email-message .message-container li .details .left {
  float: right; }
.rtl .email-message .message-container li .details .right {
  float: left; }
.rtl .email-message .message-container li .tool-box {
  left: 0;
  right: auto;
  border-right-width: 1px;
  border-left-width: 0px; }
.rtl .email-compose header .action-compose {
  float: left; }
.rtl .email-sidebar .menu-segment ul li.title {
  margin: 0 50px 0 -70px; }
.rtl .email-sidebar .menu-segment ul li a {
  margin: 0 50px 0 -70px; }

/*
 * Jasny Bootstrap
 */
.fileinput-new.input-group .btn-file, .fileinput-new .input-group .btn-file {
  border-radius: 0 0px 0px 0; }

.fileinput {
  margin-bottom: 0px; }

.rtl .input-group-addon:not(:first-child) {
  border-right: 0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCC; }
.rtl .input-group-addon:last-child {
  border-right: 0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCC; }
.rtl .input-group-addon:first-child {
  border-right: 1px solid #ccc; }

/* 
 * jQuery Knob 
 */
div.yep-knob {
  text-align: center;
  width: 183px;
  float: left; }

div.yep-knob > p {
  font-size: 20px; }

.rtl .knob {
  margin-right: -114px;
  margin-left: 0; }

/* 
 * Bootstrap tagsinput 
 */
.bootstrap-tagsinput {
  border: 1px solid #AAA;
  display: block;
  border-radius: 0px; }

/* 
 * Select2  
 */
.editable-address span {
  width: 70px;
  display: inline-block; }

.select2-drop {
  border-radius: 0px; }

.select2-container .select2-choice {
  border-radius: 0px;
  height: 32px;
  line-height: 30px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-image: none; }

.select2-l2 {
  padding-left: 1em; }

.select2-l3 {
  padding-left: 2em; }

.select2-l4 {
  padding-left: 3em; }

.select2-hidden-accessible {
  display: none; }

.select2-container--bootstrap .select2-selection {
  border-radius: 0px; }

.select2-container--bootstrap .select2-search--dropdown .select2-search__field {
  border-radius: 0; }

.select2-container--bootstrap .select2-selection--single .select2-selection__arrow b {
  border-color: #000 transparent transparent transparent; }

.select2-container .select2-choice .select2-arrow {
  border-left: 0;
  border-radius: 0;
  background: transparent;
  background-image: none; }

.select2-container-multi .select2-choices .select2-search-choice {
  border: 1px solid #00BCD4;
  border-radius: 0;
  background: #5BC0DE;
  color: #fff; }

.select2-container-multi .select2-choices {
  border: 1px solid #9E9E9E;
  background-image: none; }

.select2-drop.select2-drop-above {
  border-radius: 0; }

.select2-container.select2-drop-above .select2-choice {
  border-radius: 0; }

.select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices {
  background-image: none; }

.ui-select-choices-row:hover {
  background: #3875D7;
  color: #fff; }

.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
  color: #fff;
  background-color: #2196f3;
  border-color: #007FE4; }

.ui-select-bootstrap .ui-select-choices-row.active > a {
  background-color: #2196f3; }

.rtl .select2-search-choice-close {
  left: 3px;
  right: auto; }
.rtl .select2-container .select2-choice {
  padding: 0px 0px 0 20px; }
.rtl .select2-container-multi .select2-choices li {
  float: right; }
.rtl .select2-container .select2-choice .select2-arrow {
  left: 0;
  right: auto;
  border-right: 0;
  border-left: 0;
  border-radius: 0 0px 0px 0; }
.rtl .select2-l2 {
  padding-right: 1em;
  padding-left: 0; }
.rtl .select2-l3 {
  padding-right: 2em;
  padding-left: 0; }
.rtl .select2-l4 {
  padding-right: 3em;
  padding-left: 0; }
.rtl .select2-container--bootstrap .select2-selection {
  direction: rtl; }
.rtl .select2-container--bootstrap .select2-selection--single .select2-selection__arrow {
  left: 12px;
  right: auto; }
.rtl .select2-container--bootstrap .select2-dropdown {
  direction: rtl; }
.rtl .select2-container--bootstrap .select2-selection--single {
  padding: 6px 12px 6px 24px; }

/*
 * jQuery Steps 
 */
.wizardstep > .content > .body input {
  border: 1px solid #9E9E9E; }
  .wizardstep > .content > .body input:focus {
    border-color: #03A9F4; }

.wizardstep > .steps .number {
  font-size: 1.429em;
  position: absolute;
  left: auto;
  /*top: -20px;*/
  font-size: 82px;
  font-weight: 700;
  overflow: hidden;
  margin-top: -50px;
  font-family: 'Open Sans'; }

.wizardstep > .steps .current a:after {
  content: "";
  width: 3px;
  height: 3px;
  background: transparent;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  position: absolute;
  bottom: 15px;
  /*left:auto;*/
  /*right:0;*/
  /*top:0px;*/
  /*margin-left: 0px; */
  border: 7px solid black;
  border-color: transparent #14b5c8 #14b5c8 transparent;
  z-index: 0; }

.vertical.wizardstep > .steps .current a:after {
  /*content: "";*/
  width: 3px;
  height: 3px;
  background: transparent;
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  position: absolute;
  top: auto;
  bottom: auto;
  right: 15px;
  /* right: 4px; */
  /* top: 29px; */
  /* margin-left: 0px; */
  border: 7px solid black;
  border-color: transparent #14b5c8 #14b5c8 transparent;
  z-index: 0; }

.wizardstep > .content {
  background: none;
  /* display: block; */
  margin: 0;
  min-height: 17em;
  overflow: hidden;
  position: relative;
  width: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.wizardstep > .actions {
  position: relative;
  display: block;
  text-align: right;
  width: 100%;
  right: 0px;
  top: 0px; }

.wizardstep > .steps .disabled a, .wizardstep > .steps .disabled a:hover, .wizardstep > .steps .disabled a:active {
  background: #283d50;
  color: #FFF;
  cursor: default; }

.wizardstep > .steps .current a, .wizardstep > .steps .current a:hover, .wizardstep > .steps .current a:active {
  background: #14b5c8;
  color: #fff;
  cursor: default; }

.wizardstep > .steps .error a, .wizardstep > .steps .error a:hover, .wizardstep > .steps .error a:active {
  background: #8A1F11;
  color: #fff; }

.wizardstep > .steps .error a:after {
  border-color: transparent #8A1F11 #8A1F11 transparent; }

.wizardstep > .steps .done a, .wizardstep > .steps .done a:hover, .wizardstep > .steps .done a:active {
  background: #5CB85C; }

.wizardstep > .content > .body {
  float: auto;
  position: relative;
  padding: 0; }

.actions {
  /*    right: 0;
      top: 0;*/ }

.wizardstep > .steps {
  padding: 15px; }

.wizardstep > .content {
  padding: 15px; }

.titlewizard {
  padding-left: 47px; }

.wizardstep.vertical > .steps > ul > li {
  padding-bottom: 8px; }

.wizardstep.vertical > .actions {
  display: inline;
  float: right;
  margin: 0 0;
  width: 100%; }

.rtl .wizardstep > .steps > ul > li, .rtl .wizardstep > .actions > ul > li {
  float: right; }
.rtl .titlewizard {
  padding-right: 47px; }
.rtl .wizardstep.vertical > .steps {
  float: right; }
.rtl .vertical.wizardstep > .steps .current a:after {
  -webkit-transform: rotate(495deg);
  -moz-transform: rotate(495deg);
  -o-transform: rotate(495deg);
  -ms-transform: rotate(495deg);
  left: 15px;
  right: auto; }

/* 
 * Fuelux Wizard 
 */
.fuelux .wizard:before, .fuelux .wizard:after {
  display: inline; }

.fuelux .wizard .step-content {
  padding: 0px;
  padding-top: 10px; }

.fuelux .wizard > .actions {
  z-index: 99; }

.rtl .fuelux .wizard > ul.steps li, .rtl .fuelux .wizard > .steps-container > ul.steps li {
  float: right; }
.rtl .fuelux .wizard > .actions {
  left: 0;
  right: auto; }
.rtl .fuelux .wizard > ul.steps li .badge, .rtl .fuelux .wizard > .steps-container > ul.steps li .badge {
  margin-left: 8px;
  margin-right: 0;
  float: right;
  margin-top: 15px; }
.rtl .fuelux .wizard > ul.steps li .chevron, .rtl .fuelux .wizard > .steps-container > ul.steps li .chevron {
  left: -14px;
  right: auto; }
.rtl .fuelux .wizard > ul.steps li .chevron, .rtl .fuelux .wizard > .steps-container > ul.steps li .chevron {
  border-right: 14px solid #d4d4d4;
  border-left: 0; }
.rtl .fuelux .wizard > ul.steps li.active .chevron:before, .rtl .fuelux .wizard > .steps-container > ul.steps li.active .chevron:before {
  border-right: 14px solid #f1f6fc;
  border-left: 0; }
.rtl .fuelux .wizard > ul.steps li .chevron:before, .rtl .fuelux .wizard > .steps-container > ul.steps li .chevron:before {
  left: 1px;
  right: auto;
  border-right: 14px solid #ededed;
  border-left: 0; }
.rtl .fuelux .wizard > ul.steps li.complete .chevron:before, .rtl .fuelux .wizard > .steps-container > ul.steps li.complete .chevron:before {
  border-right: 14px solid #f3f4f5;
  border-left: 0; }
.rtl .fuelux .wizard > ul.steps li.complete:hover .chevron:before,
.rtl .fuelux .wizard > .steps-container > ul.steps li.complete:hover .chevron:before {
  border-right: 14px solid #e7eff8; }

/* 
 * jcrop 
 */
.jcrop-circle-demo .jcrop-box {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 1px rgba(255, 255, 255, 0.4) solid;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 26px #000000;
  -moz-box-shadow: 1px 1px 26px #000000;
  box-shadow: 1px 1px 26px #000000;
  overflow: hidden; }

.jcrop-circle-demo .jcrop-box:focus {
  outline: none; }

.custom-shade {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: black;
  opacity: 0.4;
  width: 100%;
  height: 100%; }

/*
 * SPARKLINE
 */
.jqstooltip {
  padding: 7px !important;
  border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border: none !important;
  background-color: #000000 !important;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; }

/*
 * jQuery UI Bootstrap 
 */
.ui-accordion .ui-accordion-icons {
  margin-bottom: 0px;
  border-radius: 0px;
  padding: 10px;
  padding-left: 31px;
  background-color: #F5F5F5;
  font-size: 16px; }

.ui-accordion .ui-accordion-content-active {
  border-radius: 0px;
  border: 1px solid #ADADAD;
  box-shadow: inset 0 0px 0 rgba(0, 0, 0, 0.05); }

.ui-accordion .ui-accordion-header {
  margin-top: -1px; }

input[type="text"], input[type="email"], input[type="tel"], input[type="search"], input[type="url"], input[type="password"], .ui-autocomplete-input, textarea, .uneditable-input {
  border-radius: 0px; }

.ui-tabs .ui-tabs-nav li a {
  border-radius: 0px 0px 0 0; }

.ui-tabs .ui-tabs-panel {
  border: 1px solid #ADADAD;
  padding: 10px;
  margin-top: -6px; }

.ui-tabs .ui-tabs-nav li a {
  border: 1px solid #ADADAD;
  margin-right: -3px;
  background-color: #ddd; }

.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
  border: 1px solid #ADADAD !important;
  border-bottom: 1px solid #fff !important; }

.ui-tabs .ui-tabs-nav li a:hover {
  border: 1px solid #ADADAD;
  border-bottom: 1px solid #ADADAD !important;
  background-color: whiteSmoke;
  border-bottom: 1px solid #fff; }

.ui-tabs .ui-tabs-nav li.ui-tabs-active a:hover {
  border: 1px solid #ADADAD !important;
  border-bottom: 1px solid #fff !important;
  background: #fff; }

.ui-menu {
  list-style: none;
  padding: 2px;
  margin: 0;
  display: block;
  outline: none; }

.ui-menu .ui-menu {
  margin-top: -3px;
  position: absolute;
  list-style: none; }

.ui-menu .ui-menu-item {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  /* support: IE10, see #8844 */
  list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7); }

.ui-menu .ui-menu-divider {
  margin: 5px -2px 5px -2px;
  height: 0;
  font-size: 0;
  line-height: 0;
  border-width: 1px 0 0 0; }

.ui-menu .ui-menu-item a {
  text-decoration: none;
  display: block;
  padding: 2px .4em;
  line-height: 1.5;
  min-height: 0;
  /* support: IE7 */
  font-weight: normal; }

.ui-menu .ui-menu-item a.ui-corner-all {
  -webkit-border-radius: 0px;
  /* Safari 4 */
  -moz-border-radius: 0px;
  /* Firefox 3.6 */
  border-radius: 0px; }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  border: none;
  font-weight: normal;
  color: #333333;
  background-color: #EBEBEB; }

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  color: #337AB7;
  text-decoration: none; }

/* Fix problem with border in ui-state-active */
.ui-menu .ui-menu-item a.ui-state-active {
  padding: 1px .4em; }

.ui-menu .ui-state-disabled {
  font-weight: normal;
  margin: .4em 0 .2em;
  line-height: 1.5; }

.ui-menu .ui-state-disabled a {
  cursor: default; }

/* icon support */
.ui-menu-icons {
  position: relative; }

.ui-menu-icons .ui-menu-item a {
  position: relative;
  padding-left: 2em; }

/* left-aligned */
.ui-menu .ui-icon {
  position: absolute;
  top: .2em;
  left: .2em; }

/* right-aligned */
.ui-menu .ui-menu-icon {
  position: static;
  float: right; }

.ui-menu {
  width: 200px;
  margin-bottom: 2em; }

.air {
  position: absolute;
  z-index: 5; }

.air-top-left {
  top: 0;
  left: 0; }

.hover-transparent {
  border: none;
  box-shadow: none; }

.ui-spinner-input {
  border: none;
  background: 0 0;
  vertical-align: middle; }

.ui-spinner-input {
  margin: 0 !important;
  height: 30px;
  padding: 6px 24px 6px 12px; }

.form-control, .input-lg, .input-sm, .input-xs {
  border-radius: 0 !important; }

.ui-spinner {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 0;
  vertical-align: middle;
  border-radius: 0px;
  border: none; }

.ui-spinner-input {
  border: none;
  background: none;
  padding: 0;
  margin: .2em 0;
  vertical-align: middle;
  margin-left: .4em;
  margin-right: 22px; }

.ui-spinner-button {
  width: 16px;
  height: 50%;
  font-size: .5em;
  padding: 0;
  margin: 0;
  text-align: center;
  position: absolute;
  cursor: default;
  display: block;
  overflow: hidden;
  right: 0; }

/* more specificity required here to overide default borders */
.ui-spinner a.ui-spinner-button {
  border-top: none;
  border-bottom: none;
  border-right: none;
  padding-top: 4px;
  position: absolute;
  right: 0; }

.ui-spinner a.ui-spinner-button:active {
  right: 0;
  left: auto; }

/* vertical centre icon */
.ui-spinner .ui-icon {
  position: absolute;
  margin-top: -8px;
  top: 50%;
  left: 0; }

.ui-spinner-up {
  top: 0; }

.ui-spinner-down {
  bottom: 0;
  top: auto; }
  .ui-spinner-down:active {
    top: auto; }

.ui-slider .ui-slider-handle:after, .ui-slider .ui-slider-handle:before {
  display: block;
  content: "";
  position: absolute;
  top: 4px;
  left: 5px;
  width: 4px;
  height: 8px;
  border: 1px solid;
  border-width: 0 1px;
  border-color: inherit; }

.ui-slider .ui-slider-handle:after, .ui-slider .ui-slider-handle:before {
  display: block;
  content: "";
  position: absolute;
  top: 4px;
  left: 5px;
  width: 4px;
  height: 8px;
  border: 1px solid;
  border-width: 0 1px;
  border-color: inherit; }

.ui-slider-horizontal .ui-slider-handle {
  margin-left: -.725em;
  top: -.4em; }

.ui-slider .ui-slider-handle {
  border-radius: 0;
  width: 1.45em;
  height: 1.45em;
  background-color: #F8F8F8;
  border: 1px solid; }

.ui-slider-handle {
  outline: 0 !important;
  border-color: #4aa4ce !important; }

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.4em;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none; }

.ui-slider-horizontal .ui-slider-handle {
  margin-left: -.725em;
  top: -.4em; }

.ui-slider .ui-slider-range {
  background-color: #4aa4ce;
  transition: none; }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  border: 1px solid #adadad; }

.rtl .ui-menu li {
  position: relative; }
.rtl .ui-tabs .ui-tabs-nav li {
  float: right;
  margin-right: 3px; }
.rtl .air-top-left {
  right: 0;
  width: 1%; }
.rtl .ui-spinner-button {
  left: 0;
  right: auto; }
.rtl .ui-menu .ui-menu-icon {
  float: left; }
.rtl .ui-icon-carat-1-e {
  background-position: -97px 0; }
.rtl .ui-dialog .ui-dialog-title {
  float: right; }
.rtl .ui-menu .ui-menu {
  right: 100% !important;
  left: auto !important; }
.rtl .ui-spinner a.ui-spinner-button {
  right: auto;
  left: 0; }
.rtl .ui-spinner a.ui-spinner-button:active {
  right: auto;
  left: 0; }

/*
 * Esay Pie Chart 
 */
.piechart {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center; }

.piechart .percent {
  display: inline-block;
  line-height: 60px;
  z-index: 2;
  font-size: 13px;
  font-weight: 700; }

.piechart canvas {
  position: absolute;
  top: 0;
  left: 0; }

.piechart .easy-pie-title {
  display: inline-block;
  margin: 10px 6px 0;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  width: 100px;
  height: 19px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.smaller-stat {
  margin: 0;
  padding: 0;
  list-style: none; }

/*
 * Bootstrap DateRangePicker
 */
.daterange {
  background: #fff;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  width: 100%;
  font-size: 14px;
  margin-right: 7px; }

.daterangepicker .ranges li {
  border-radius: 0px; }

.daterangepicker .input-mini {
  border-radius: 0px; }

.daterangepicker .calendar-table {
  border-radius: 0px; }

.daterangepicker td.end-date {
  border-radius: 0 0px 0px 0; }

.daterangepicker td.start-date {
  border-radius: 0 0px 0px 0; }

.daterangepicker td.start-date.end-date {
  border-radius: 0px; }

.daterangepicker.dropdown-menu {
  right: 15px !important;
  left: auto !important; }

.daterangepicker.opensright:after {
  right: 10px;
  left: auto; }

.daterangepicker.opensright:before {
  right: 9px;
  left: auto; }

.rtl .daterangepicker {
  right: auto !important;
  left: 35px !important; }
.rtl .daterangepicker .ranges, .rtl .daterangepicker .calendar {
  float: right; }
.rtl .daterangepicker.opensleft:before {
  left: 9px;
  right: auto; }
.rtl .daterangepicker.opensleft:after {
  left: 10px;
  right: auto; }

/*
 * icon-picker
 */
.rtl .iconpicker .caret {
  margin-right: 10px !important; }

/*
 * Calendar 
 */
.fc-state-default.fc-corner-right {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; }

.fc-state-default.fc-corner-left {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px; }

/*
 * Map Vector 
 */
.bg-map-vector {
  background: url(../vendors/jquery-jvectormap/img/bg.png); }

/*
 * jsTree
 */
.jstree-proton {
  font-family: 'Open Sans',sans-serif,Arial,sans-serif; }

.rtl .jstree-proton .jstree-node {
  margin-right: 22px;
  margin-left: 0; }
.rtl .jstree-proton .jstree-open > .jstree-ocl {
  background-position: -133px -35px; }
.rtl .jstree-proton .jstree-leaf > .jstree-ocl {
  background-position: -69px -35px; }
.rtl .jstree-proton .jstree-closed > .jstree-ocl {
  background-position: -101px -35px; }
.rtl .jstree-proton .jstree-open > .jstree-ocl {
  background-position: -133px -35px; }
.rtl .jstree-proton > .jstree-no-dots .jstree-open > .jstree-ocl {
  background-position: -37px -5px; }
.rtl .jstree-proton > .jstree-no-dots .jstree-closed > .jstree-ocl {
  background-position: -5px -5px; }
.rtl .jstree-proton.jstree-rtl .jstree-node {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAACAQMAAAB49I5GAAAABlBMV…vEkCwcAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjAAMOBgAAGAAJMwQHdQAAAABJRU5ErkJggg==);
  background-position: 100% 1px;
  background-repeat: repeat-y; }
.rtl .jstree-proton.jstree-rtl .jstree-node {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAACAQMAAAB49I5GAAAABlBMV…vEkCwcAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjAAMOBgAAGAAJMwQHdQAAAABJRU5ErkJggg==); }
.rtl .jstree-proton.jstree-rtl .jstree-node {
  margin-right: 24px; }

/*
 * typeahead.js
 */
.tt-dropdown-menu {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px; }

/*
 * Nestable List
 */
.dd-handle {
  font-size: 15px;
  padding: 5px 15px;
  color: #333333;
  border-radius: 0; }

.dd-handle, .dd3-content {
  border: 1px solid #cfcfcf; }

.dd3-content {
  border-radius: 0; }

.dd-handle:hover {
  color: #2ea8e5; }

.dd-item > button {
  height: 20px;
  margin: 7px 10px;
  line-height: 22px !important;
  background: transparent; }

.dd-item > button {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px; }

.dd-item > button:before {
  content: '\f055';
  color: #0091d9; }

.dd-item > button[data-action="collapse"]:before {
  content: '\f056';
  color: #a90329; }

dd-empty {
  background-color: #eeeeee;
  background-image: -webkit-linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%, #ffffff), -webkit-linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%, #ffffff);
  background-image: -moz-linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%, #ffffff), -moz-linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%, #ffffff);
  background-image: linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%, #ffffff), linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%, #ffffff); }

.nestable-lists {
  border-top: 2px solid #bfbfbf;
  border-bottom: 2px solid #bfbfbf; }

#nestable-menu {
  padding: 0;
  margin: 10px 0 20px; }

#nestable1-output,
#nestable2-output {
  width: 100%;
  padding: 5px; }

@media only screen and (min-width: 700px) {
  .dd {
    float: left;
    width: 100%; } }
.dd3-content:hover {
  color: #2ea8e5;
  background: #ffffff; }

.dd3-content {
  padding: 4px 10px 6px 40px;
  font-size: 15px;
  color: #333333;
  text-decoration: none;
  border: 1px solid #cfcfcf;
  background: #fbfbfb; }

.dd3-item > button {
  margin-left: 38px; }

.dd3-handle {
  cursor: move;
  width: 30px;
  border: 1px solid #9C9C9C;
  background: #00BCD4;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  padding: 6px 15px; }

.dd3-handle:before {
  content: '\f0c9';
  top: 3px;
  color: #FFFFFF;
  line-height: 28px; }

.dd3-handle:hover:before {
  color: #C27616; }

.dd-handle:hover + .dd-list .dd-handle,
.dd-handle:hover {
  background: #FDDFB3 !important;
  border: 1px solid #FAA937;
  color: #333 !important; }

.dd-handle > span {
  font-size: 13px;
  color: #777; }

.dd-dragel > .dd-item > .dd-handle {
  border-left-width: 4px; }

.dd-dragel > li.dd-item.dd3-item {
  position: relative;
  top: 10px;
  left: 10px;
  z-index: 999; }

.dd-list .checkbox {
  margin-top: 0px; }

.rtl .dd3-handle {
  right: 0;
  left: auto; }
.rtl .dd3-content {
  padding: 4px 40px 6px 10px; }
.rtl .dd3-handle:before {
  left: 0; }
.rtl .dd-list .dd-list {
  padding-right: 30px;
  padding-left: 0; }
.rtl .dd3-item > button {
  margin-right: 38px; }
.rtl .dd-item > button {
  float: right; }

/*
 * Bootstrap TimePicker
 */
.rtl .bootstrap-timepicker-widget.dropdown-menu.open {
  right: auto; }

/*
 * Bootstrap ColorPicker
 */
.rtl .colorpicker.colorpicker-with-alpha {
  right: auto; }

/*
 * Bootstrap DatePicker
 */
.rtl .datepicker-dropdown {
  right: auto; }
.rtl .datepicker {
  direction: rtl; }

/*
 * X-Editable
 */
.editable-input .btn {
  height: 34px; }
.editable-input .input-group-btn .btn {
  border-color: #9E9E9E; }

.rtl .editable-buttons .editable-cancel {
  margin-right: 7px;
  margin-left: 0; }
.rtl .editable-buttons .editable-submit {
  margin-right: 7px;
  margin-left: 0; }

/*
 * Bootstrap tagsinput
 */
.bootstrap-tagsinput .tag [data-role=remove]:after {
  padding: 4px 8px;
  background-color: #eee;
  color: #8E8E8E;
  opacity: .5;
  margin-right: -7px; }

.bootstrap-tagsinput .tag {
  border-radius: 0;
  font-size: 12px;
  font-weight: 500; }

.bootstrap-tagsinput {
  border: 1px solid #9E9E9E;
  box-shadow: none; }

.rtl .bootstrap-tagsinput .tag [data-role="remove"] {
  margin-right: 8px;
  margin-left: 0; }
.rtl .bootstrap-tagsinput .tag [data-role=remove]:after {
  margin-left: -7px;
  margin-right: 0; }

/*
 * TinyMCE Editor
 */
.rtl .mce-container, .rtl .mce-container *, .rtl .mce-widget, .rtl .mce-widget *, .rtl .mce-reset {
  text-align: right;
  direction: rtl; }

/*
 * CK Editor
 */
.cke_chrome {
  border-radius: 0; }

.cke_toolgroup {
  border-radius: 0 !important; }

.cke_combo_button {
  border-radius: 0 !important; }

.cke_dialog_footer {
  border-radius: 0 !important; }

.cke_panel {
  border-radius: 0 !important; }

.cke_dialog_body {
  border-radius: 0 !important; }

.cke_dialog_contents {
  border-radius: 0 !important; }

a.cke_dialog_tab {
  border-radius: 0 !important; }

a.cke_dialog_ui_button {
  border-radius: 0 !important; }

select.cke_dialog_ui_input_select {
  border-radius: 0 !important; }

input.cke_dialog_ui_input_password, input.cke_dialog_ui_input_text, textarea.cke_dialog_ui_input_textarea {
  border-radius: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

input.cke_dialog_ui_input_password:focus, input.cke_dialog_ui_input_text:focus, textarea.cke_dialog_ui_input_textarea:focus {
  border-color: #03A9F4 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

.cke_dialog .FlashPreviewBox, .cke_dialog .ImagePreviewBox {
  border-radius: 0 !important; }

.cke_dialog iframe.cke_pasteframe {
  border-radius: 0 !important; }

input.cke_dialog_ui_input_password, input.cke_dialog_ui_input_text, textarea.cke_dialog_ui_input_textarea {
  border-radius: 0; }

.rtl .cke_toolbar {
  float: right; }

/*
 * DataTable
 */
div.dataTables_filter {
  text-align: left; }

.rtl div.ColVis {
  float: left; }
.rtl div.DTTT_container {
  float: left; }
.rtl div.dataTables_filter {
  text-align: right; }
.rtl ul.ColVis_collection li {
  text-align: right; }

/*
 * Blueimp Image Gallery 
 */
.blueimp-gallery > .next, .blueimp-gallery > .prev {
  border-radius: 0px; }

.blueimp-gallery > .indicator > li {
  border-radius: 0; }

/*! Ripple.js v1.2.1
* The MIT License (MIT)
* Copyright (c) 2014 Jacob Kelley */
.has-ripple {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.ripple {
  display: block;
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  background: #fff;
  opacity: 1; }

.ripple-animate {
  -webkit-animation: ripple;
  -o-animation: ripple;
  animation: ripple; }

@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
    transform: scale(2); } }
@-o-keyframes ripple {
  100% {
    opacity: 0;
    -o-transform: scale(2);
    transform: scale(2); } }
@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2); } }
/*
 * NProgress
 */
/* Make clicks pass-through */
#nprogress {
  pointer-events: none; }

#nprogress .bar {
  background: #E91E63;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px; }

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #E91E63, 0 0 5px #E91E63;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px); }

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px; }

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #E91E63;
  border-left-color: #E91E63;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite; }

.nprogress-custom-parent {
  overflow: hidden;
  position: relative; }

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute; }

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
/*
 * Dual List Box
 */
.rtl .bootstrap-duallistbox-container .box2 {
  float: left; }
.rtl .bootstrap-duallistbox-container .box1 {
  float: left; }

/*
 * X-Editable for Angularjs
 */
.editable-bstime .editable-input i.icon-chevron-up:before {
  content: '\f106'; }

.editable-bstime .editable-input i.icon-chevron-down:before {
  content: '\f107'; }

.editable-bstime .editable-input i.icon-chevron-up,
.editable-bstime .editable-input i.icon-chevron-down {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'FontAwesome';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size: 16px; }

/*
 * Sweet Alert
 */
.sweet-alert {
  border-radius: 0;
  font-family: inherit; }
  .sweet-alert button {
    border-radius: 0;
    color: #fff; }
  .sweet-alert .rtl {
    font-family: inherit; }

/*
 * Sweet Alert 2
 */
.swal2-modal {
  border-radius: 0;
  font-family: inherit; }
  .swal2-modal button.styled {
    border-radius: 0;
    color: #fff; }
  .swal2-modal .rtl {
    font-family: inherit; }

.swal-wide {
  width: 610px !important; }

/*
 * Angular-ui-tree 
 */
.angular-ui-tree-placeholder {
  background: #f0f9ff;
  border: 1px dashed #bed2db;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*
 * Angular Wizard
 */
.steps-indicator.steps-4:before {
  left: calc(100% / 3 / 10);
  right: calc(100% / 3 / 10); }

.steps-indicator {
  padding: 20px 0 60px; }

.steps-indicator li {
  padding-top: 15px; }

.rtl .steps-indicator li {
  float: right; }

/*# sourceMappingURL=yep-vendors.css.map */
